body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: inherit;
  width: inherit;
}

.menu_main {
  display: block;
}

.menu_mobile {
  display: none;
}

.jumbotron {
   height: 100%;
   padding: 8em 0;
}

.jumbotron_content h1 {
  font-size: 4em !important;
  font-weight: normal !important;
}

.jumbotron_content h2 {
  font-size: 1em !important;
  font-weight: normal !important;
}

.event_content {
  padding: 4em 0 !important;
}

#btn-date-add {
  margin: 0 15px;
}

.DateInput_input {
  cursor: pointer !important;
}

.dates_group {
  padding: 15px 0;
  margin: 2px 0;
}

.form-label {
  display: block;
  margin: 0 0 .28571429rem 0;
  color: rgba(0,0,0,.87);
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
}

.field button.ui.button {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.summary_output {
  margin: 1em 0;
  font-size: 1.1em;
}



/* MEDIA QUERIES */

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

  .menu_main {
    display: none;
  }

  .menu_mobile {
    display: block;
  }

  /* HOME */

  .jumbotron {
    height: 300px !important;
  }

  .jumbotron .text {
    padding: 2em 0;
  }

  .jumbotron .text h1 {
    font-size: 2.5em;
    font-weight: normal;
  }

  .jumbotron .text h2 {
    font-size: 1em;
    font-weight: normal;
  }

  .event_content {
    padding: 2em 0 !important;
  }

  .ui.cards {
    margin: 0 !important;
  }

  /* CREATE EVENT */

  .steps {
    display: none !important;
  }

}
